/* PALETA DE COLORES GENERAL */
:root{
	--color1: #ffffff;
	--color2: #0d3558;
	--color3: #3cbef1;
	--color4: #00ff00;
	--color5: #392b44;
	--color6: #000000;
	--color7: #ffbf00;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body{
	font-size: 16px; /* 1 rem = 16px */
	font-family: "Krub", Verdana, Arial, Helvetica, sans-serif;
	background-image: url(/images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	/* background-image: linear-gradient(to top, #dfe9f3, var(--blanco)); */
/*	background-image: linear-gradient(to left, red, yellow);*/
/*	background-image: radial-gradient(circle, red, yellow, green);*/
}

h1{
	font-size: 2.8rem;
}

h2{
	font-size: 2.4rem;
}

h3{
	font-size: 1.8rem;
}

h1, h2, h3{
	text-align: center;
	color: var(--color1);
}


.subtitulo span{
	font-size: 1.5rem;
	color: #ff0000;
}

.subtitulo{
	color:var(--color1);
	font-size: 2rem; 
}

.titulo{
	color: var(--color1);
	text-align: center;
}

.titulo-small{
	font-size: 2rem;
}

h2.subtitulo span{
	font-size: 1.2rem;
	color: var(--color1);
}

.contenedor{
	max-width: 80rem;
	/* centrado */
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.sombra{
/*		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);	*/
	-webkit-box-shadow: 0px 5px 15px 0px rgb(60, 190, 241);
	-moz-box-shadow: 0px 5px 15px 0px rgb(122, 210, 245);
	box-shadow: 0px 5px 15px 0px rgb(60, 190, 241);

	background-color: rgb(2, 24, 53);
	opacity: 0.8;
	padding: 2rem;
	border-radius: 1rem;
}

.nav-bg{
	background-color: var(--color3);
}

.navegacion-principal{
	display:flex;
	flex-direction: column;
}

.navegacion-principal a{
	color: var(--color1);
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1rem;
	text-align: center;
}

.navegacion-principal a:hover{
	background-color: var(--color7);
	color: var(--oscuro);
}

.hero{
	background-image: url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	padding: 20px;
	position: relative;

	margin-bottom: 2rem;
}

.contenido-hero{
	position: absolute;

	/* hacer una transparencia */
	background-color: rgba(0,0,0, .7);
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contenido-hero h2, .contenido-hero p{
	color: var(--color1);
}

.boton{
	background-color: var(--color3);
	color: var(--color1);
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: bold;

	border: none;
}

.boton:hover{
	cursor: pointer;
}

/* seccion de servicios */
.servicio{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.servicio h3{
	color: var(--color1);
	font-weight: normal;
}

.servicio p{
	color: var(--color1);
	text-align: center;
	line-height: 2;
}

.servicio .icono{
	height: 150px;
	width: 150px;
	background-color: var(--color7);
	border-radius: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


/* estilos para el formulario de contacto */
.formulario{
	background-color: var(--color2);
	/* min utiliza el valor mas pequeño */
	width: min(50rem, 100%);

	padding: 2rem;
	border-radius: 1rem;

	margin: 0 auto;
}

.formulario fieldset{
	border:none;	
}

.formulario legend{
	color: var(--color1);
	text-align: center;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2rem;
}

.campo{
	margin-bottom: 1rem;
}


.campo label{
	color: var(--color1);
	font-weight: bold;
	margin-bottom: 0.5rem;
	display: block;
}

.campo textarea{
	height: 12rem;
}

.input-text{
	border:none;
	border-radius: 0.5rem;
	padding: 1.5rem;
	width: 100%;
}

.enviar{
	width: 100%;
}

.error{
	background-color: rgb(185,0,0);
	text-align: center;	
	padding: 1rem;
	color: var(--color4);
	text-transform: uppercase;
}

.correcto{
	
}

p{
	color: var(--color1);
	text-align: center;
}

/* pie de pagina */
.footer{
	text-align: center;
	color: var(--color1);
}

/* diseño responsive - solo incluimos lo que necesitamos modificar */
/* no hay regla general para los width pero las recomendaciones son: */

/* vista celular */
@media (min-width: 480px){

}

/* vista tablet */
@media (min-width: 768px){
	.navegacion-principal{
		flex-direction: row;
		justify-content: space-between;
	}

	.servicios{
		display:grid;
		grid-template-columns: 33% 33% 33%;
		column-gap: 1rem;
	}

	.contenedor-campos{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto 15rem;
		column-gap: 1rem;
	}

	.campo:nth-child(3), .campo:nth-child(4){
		grid-column: 1 / 3;
	}
}

/* portatil */
@media (min-width: 1140px){

}

/*  escritorio */
@media (min-width: 1400px){

}